<div class="footer">
  <p class="footer__text">
    Desarrollado por
    <b>Carlos Morales 💜</b>
    {{ date }}
  </p>

  <ul class="footer__links">
    <li>
      <a
        class="footer__anchord"
        href="https://www.linkedin.com/in/krlos-morales/"
        rel="noopener noreferrer"
        target="_blank"
        title="LinkedIn"
      >
        <img
          alt="Icono de LinkedIn"
          class="footer__image"
          height="24"
          loading="lazy"
          src="./assets/logotypes/linkedin.svg"
          width="24"
        />
      </a>
    </li>
    <li>
      <a
        class="footer__anchord footer__anchord--invert"
        href="https://github.com/KrlosPK"
        rel="noopener noreferrer"
        target="_blank"
        title="GitHub"
      >
        <img
          alt="Icono de GitHub"
          class="footer__image"
          height="24"
          loading="lazy"
          src="./assets/logotypes/github.svg"
          width="24"
        />
      </a>
    </li>
  </ul>
</div>

<div class="footer">
  Recursos tomados de:

  <a
    href="https://www.themoviedb.org"
    rel="noopener noreferrer"
    target="_blank"
  >
    <img
      alt="The Movie Database logotype"
      src="./assets/logotypes/tmdb.svg"
      width="120"
      height="40"
    />
  </a>
</div>
